(Remove this line and replace / with -)
///
title: Load test failure!
assignees:
  - {your_username}
labels:
  - bug
///
A load test failure has occurred. Please access the Azure Load Test portal to learn more about this latest run.
