name: First Workflow
on:
  workflow_dispatch:

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
    - name: Step one
      run: echo "Step 1 complete!"
    - name: Step two
      run: echo "Step 2 complete!"
